*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}

header{
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.h-right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.h-right i{
font-size: 25px;
color: #f0400f;
}

main{
    min-height: 100vh;
    background-color: #FAFAFA;
}

.box{
    background-color: white;
    width: 570px;
    border: 1px solid #DEDBDB;
    border-radius: 50px;
    margin: 20px auto;
}

.box-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box-head h2 {
    color: #F0400F;
}

h1{
font-weight: 700;
font-size: 48px;
line-height: 100%;
color: #0E0D5D;
text-align: center;
margin-top: 60px;
}

.parents {
    width: 533px;
    height: 70px;
    background: #f5f5f5;
    border-radius: 20px;
    padding: 8px 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.parents p{
font-weight: 500;
font-size: 28px;
line-height: 100%;
letter-spacing: 0%;
width: 255px;
height: 54px;
text-align: center;
background-color: white;
display: flex;
align-items: center;
justify-content: center;
border-radius: 14px;
}
.parents p:hover{
    background-color: white;
}

input {
 width: 533px;
 height: 70px;
 border-radius: 20px;
 padding: 20px 51px;
 background: #FAFAFA;
 border: 1px solid #75755753;
font-weight: 500;
font-size: 28px;
line-height: 100%;
letter-spacing: 0%;
margin-top: 30px;
}

#eye{
    font-size: 25px;
    margin-left: -60px;
}

.qr{
font-weight: 500;
font-size: 24px;
line-height: 100%;
color: #000000A3;
text-align: center;
margin-top: 18px;
}
.btn{
    padding: 17px 23px;
    color: white;
    background-color: #F69E86;
    border-radius: 20px;
    border: none;
font-weight: 700;
font-size: 24px;
line-height: 100%;
margin-top: 30px;
margin-left: 330px;
}